<!DOCTYPE html>
<html>
<head>
    <!-- 页面meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>传智健康</title>
    <meta name="description" content="传智健康">
    <meta name="keywords" content="传智健康">
    <meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport">
    <!-- 引入样式 -->
    <link rel="stylesheet" href="../plugins/elementui/index.css">
    <link rel="stylesheet" href="../plugins/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="../css/style.css">
    <!-- 引入组件库 -->
    <script type="text/javascript" src="../js/jquery.min.js"></script>
    <script src="../js/vue.js"></script>
    <script src="../plugins/elementui/index.js"></script>
    <script src="../js/axios-0.18.0.js"></script>
    <script src="../js/echarts.js"></script>
    <style>
        .datatable {
            position: relative;
            box-sizing: border-box;
            -webkit-box-flex: 1;
            width: 100%;
            max-width: 100%;
            font-size: 14px;
            color: rgb(96, 98, 102);
            overflow: hidden;
            flex: 1 1 0%;
        }

        .datatable td, .datatable th {
            padding: 12px 0;
            min-width: 0;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            text-overflow: ellipsis;
            vertical-align: middle;
            position: relative;
            text-align: left;
        }
    </style>

</head>
<body class="hold-transition">
<div id="app">
    <div class="content-header">
        <h1>会员数量折线图<small>统计分析</small></h1>
        <el-breadcrumb separator-class="el-icon-arrow-right" class="breadcrumb">
            <el-breadcrumb-item :to="{ path: '/' }">首页</el-breadcrumb-item>
            <el-breadcrumb-item>会员数量折线图</el-breadcrumb-item>
            <el-breadcrumb-item>统计分析</el-breadcrumb-item>
        </el-breadcrumb>
    </div>

    <div class="app-container">
        <div class="box">

            <div class="block">
                <span class="demonstration">日期</span>
                <el-date-picker
                        v-model="dateFirst"
                        type="date"
                        placeholder="选择日期">
                </el-date-picker>

                <span class="demonstration">-</span>
                <el-date-picker
                        v-model="dateLate"
                        type="date"
                        placeholder="选择日期">
                </el-date-picker>

                <el-button type="primary" icon="el-icon-search" @click="findMemberDate()">搜索</el-button>

            </div>
        </div>
    </div>

    <div id="chart1" style="width: 800px;height:450px;"></div>
</div>
</body>

<script type="text/javascript">

    var vue = new Vue({
            el: '#app',
            data: {
                dateFirst: '',
                dateLate: '',
                memberData: {}
            },
            mounted() {
                this.findMemberDate();
            },
            methods: {
                findMemberDate() {
                    axios.get("/report/getMemberReportByDate.do?dateFirst=" + this.dateFormat(this.dateFirst) + "&dateLate=" + this.dateFormat(this.dateLate)).then((res) => {
                        if (res.data.flag) {
                            this.dateFirst = "";
                            this.dateLate = "";
                            var myChart = echarts.init(document.getElementById('chart1'));
                            myChart.setOption({
                                title: {
                                    text: '会员数量'
                                },
                                tooltip: {},
                                legend: {
                                    data: ['会员数量']
                                },
                                xAxis: {
                                    data: res.data.data.months
                                },
                                yAxis: {
                                    type: 'value'
                                },
                                series: [{
                                    name: '会员数量',
                                    type: 'line',
                                    data: res.data.data.memberCount
                                }],
                                grid: {
                                    top: 50,
                                    x: 40,
                                    x2: 80,
                                    y2: 50,
                                }
                            });
                        } else {
                            this.$message.error(res.data.message);
                        }
                    });
                },
                dateFormat(dateData) {
                    if ("" === dateData) {
                        return null;
                    }
                    var date = new Date(dateData);
                    var y = date.getFullYear();
                    var m = date.getMonth() + 1;
                    m = m < 10 ? ('0' + m) : m;
                    var d = date.getDate();
                    d = d < 10 ? ('0' + d) : d;
                    const time = y + '-' + m + '-' + d;
                    return time
                }
            }
        }
    )
</script>

</html>
